.root {
  container-type: inline-size;
}

.wrapper {
  --input-bg: var(--mantine-color-grey-0) !important;
  --input-height: var(--mantine-spacing-700);
  --input-fz: var(--mantine-font-size-3);
  --input-text-align: center;
  font-weight: 700;

  @container (max-width: 12rem) {
    --input-left-section-width: var(--mantine-spacing-500);
    --input-right-section-width: var(--mantine-spacing-500) !important;
  }
}

.section {
  --ai-radius: 999em;
  --ai-hover-color: var(--mantine-color-orange-3);
}
